<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>
            <p class="text-center">© 2023 Wanderlust. All rights reserved.</p>
        </div>
        <div class="f-info-links">
            <ul class="list-unstyled">
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms of Service</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>