<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New listing</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Title" required>
        <br/>
        <textarea name="listing[description]" placeholder="Description"></textarea>
        <br/>
        <input type="text" name="listing[price]" placeholder="Price" required>
        <br/>
        <input type="text" name="listing[location]" placeholder="Location" required>
        <br/>
        <input type="text" name="listing[country]" placeholder="Country" required>
        <br/>
        <button>submit</button>
    </form>
</body>
</html>